<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="placeholder">
  <div class="region" id="dice">
    <h3>Dice Results</h3>
    <input type="text" name="Dice String" id="dieString" value=""/>
    <button type="button" name="Roll" id="Roll" onclick="postResult">Roll</button>
    <div class="result" id="rollResult"></div>
  </div>
  <div class="region">
    <script src="/javascripts/stringDice.js">
    </script>
  </div>
</div>
